# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Build / distribution
build/
dist/
*.egg-info/

# Logs
*.log


# Dataset / outputs
datasets/
runs/
outputs/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db